.multi-slot-component {
  position: relative;
  overflow: hidden;
  height: 100vh;

  &--component-slot {
    transition: 0.75s cubic-bezier(0.35, 0.23, 0.54, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    &.inactive {
      z-index: -1;
      opacity: 0;
      padding: 25px;
      pointer-events: none;
      transform: translate(0, -50px);
    }

    &.active {
      opacity: 1;
      padding: 25px;
      transform: translate(0, 0px);
      box-sizing: border-box;
    }

    &.collapsed {
      height: calc(100vh - var(--header-h));
      overflow: auto;
    }

    @media (min-width: 1024px) {
      &.inactive {
        transform: translate(-50px, 0);
      }

      &.active {
        transform: translate(0px, 0);
      }
    }
  }
}
